<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=1400, initial-scale=1.0">

        <link rel="stylesheet" href="/schedulingmedia/assets/css/header-basic-light.css">
        <link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        {% block code %}{% endblock code %}

        {% block css %}{% endblock css %}

        <title>{% block title %}{% endblock title %}</title>
    </head>

    <body>

        <header class="header-basic-light">
        
           <div class="header-limiter">
              {% if user.is_authenticated %}
      
                <h1>Hello, {{user.first_name}} {{user.last_name}}</h1>
                <nav>
                    <a href="/" class={% if request.resolver_match.url_name == "schedule" %}"selected"{% endif %}>Schedule</a>

                    {% if user.is_staff %}
                        <a href="/admin/">Admin</a>
                    {% endif %}

                    <a href="/pto/2017/11/" class={% if request.resolver_match.url_name == "pto" %}"selected"{% endif %}>PTO Requests</a>
                    <a href="/password_change/" class={% if request.resolver_match.url_name == "password_change" %}"selected"{% endif %}>Change Password</a>
                    <a href="/logout/">Logout</a>
                </nav>
    
            {% else %}      
                <nav>
                    <a href="/login/" class={% if request.resolver_match.url_name == "login" %}"selected"{% endif %}>Login</a>
                </nav>
   
            {% endif %}
      
         </div>
         
    </header>

    {% block content %}{% endblock content %}

    </body>
</html>
